@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media(min-width: 900px){
    .hi{
        padding-left: 100px;
    }
}

.hi{
    padding: 20px;
    position: relative;
    width: calc(100% - 40px);
    height: 100vh;    
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;  
    &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: url('./top.jpg') center center/cover fixed;
        filter: blur(5px);
      }
}


.hi__title {
    text-shadow: 2px 2px 4px #999999;
	padding: 50px;
	font-family: 'Vollkorn', serif;
	font-size: 40px;
	background: linear-gradient(to right, #000 0, #000 20%, transparent 10%, transparent 90%), linear-gradient(to right, transparent 0, transparent 80%, #000 80%, #000 100%), linear-gradient(to bottom, #000 0, #000 100%);
    background-size: 100% 3px, 100% 3px, 3px 30%;
   	position: relative;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: no-repeat;
    text-align: center;
    &:after{
    	content: '';
    	position: absolute;
    	height: 30%;
    	width: 3px;
    	right: 0;
    	bottom: 0;
    	background-color: #000;
    }
}

.hi__subtitle {
	font-size: 25px;
	font-family: 'Lobster', cursive;
	padding-top: 20px;
	text-align: center;
    text-shadow: 2px 2px 4px #999999;
    font-weight: 300;
}

@media(max-width: 500px) {
    .hi__title{
        padding: 30px;
    }
    .hi__subtitle{
        font-size: 20px;
    }  
}

@media(max-width: 767px) {
    .hi::before{
        background: url('./top.jpg') center center/cover scroll;
    }
}
